@import '../../variables';

.overlay {
  background-color: $medium-gray;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}

.cartModal {
  position: fixed;
  width: 30vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: $white;
  z-index: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition: all 0.25s;
  transform: translateX(100%);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  text-transform: uppercase;

  & span {
    cursor: pointer;
  }
}

.buttons {
  margin-top: auto;

  & button {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.btnPrimary {
  background: $dark-gray;
  color: $white;
  transition: background-color 0.3s;

  &:hover {
    background-color: $black;
  }
}

.btnSecondary {
  border: 2px solid $black;
  transition: all 0.3s;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.product {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.productImg {
  width: 100%;
  height: 100%;
}

.productInfo {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productInfoTop {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1rem;

  & span {
    grid-column: 3 / 4;
    cursor: pointer;
  }
}

.productInfoBottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.productDescription {
  color: $medium-gray;
  grid-row: 2 / 3;
}

.quantityBtn {
  width: 37px;
  height: 37px;
  background: #EEEEEE;

  &:hover {
    background: #c9c9c9;
  }
}

.quantityInput {
  width: 37px;
  height: 37px;
  outline: none;
  border: 1px solid $black;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
}

.cartLength {
  color: $medium-gray;
}

.subtotal {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & span {
    font-weight: 700;
  }
}

.showOverlay {
  opacity: 1;
  visibility: visible;
}

.showCart {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}